@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";


@layer base {
  :root {
    /* 🎨 Main Colors */
    --color-soft-primary: #84D187;
    --color-primary: #00B207;
    --color-primary-layer: #023e04d3;
    --color-hard-primary: #2C742F;
    --color-warning: #FF8A00;
    --color-danger: #EA4E48;
    --color-white: #FFFFFF;

    /* ⚫ Gray Scale */
    --color-gray-9: #1E1E1E;
    --color-gray-8: #2C2C2C;
    --color-gray-7: #3A3A3A;
    --color-gray-6: #585858;
    --color-gray-5: #757575;
    --color-gray-4: #9E9E9E;
    --color-gray-3: #BDBDBD;
    --color-gray-2: #E0E0E0;
    --color-gray-1: #F5F5F5;
    --color-avatar-bg: #A2A8CD;

    /* 🟢 Green Gray (extra tones if needed) */
    --color-green-gray-9: #0B3D2E;
    --color-green-gray-8: #115C41;
    --color-green-gray-7: #177C54;
    --color-green-gray-6: #1E9B67;
    --color-green-gray-5: #24BA7A;
    --color-green-gray-4: #4CD093;
    --color-green-gray-3: #75E5AD;
    --color-green-gray-2: #A0F9C8;
    --color-green-gray-1: #CCFFDF;

    /* 🖋️ Fonts */
    --font-en: "Poppins", sans-serif;
    --font-ar: "Cairo", sans-serif;

    /* 🧩 Radii */
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 16px;
  }

  html {
    font-family: var(--font-en);
    background-color: var(--color-white);
    color: var(--color-gray-9);
  }

  [dir="rtl"] {
    font-family: var(--font-ar);
  }
  /* في ملف CSS منفصل */
@keyframes infinite-scroll {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

.animate-infinite-scroll {
  animation: infinite-scroll 20s linear infinite;
  display: flex;
  width: max-content;
}
}
button {
  @apply cursor-pointer;
}

.container {
  @apply xl:w-[90%] max-w-[1300px] sm:w-[85%] w-[90%] !mx-auto;
}
